.mainpage {
    background-image: url('backgroundimg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box3 {
    margin-top: 10px;
    width: 80%;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.gridbox3 {
    position: relative;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    display: grid;
    height: 250px;
    grid-gap: 15px;
    grid-template-columns: 175px 175px 175px 175px 175px;
    background-image: url('backgroundmenu.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: 3px solid black;
    color: white;
    border-radius: 10%;
}