.mainpage {
    background-image: url('backgroundimg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.imganim {
    border-radius: 15%;
    width: 75px;
    height: 75px;
    background-image: url('pizza.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    transition: width 0.3s, height 0.3s;
}

.imganim:hover {
    width: 120px;
    height: 120px;
}

.imganim:focus {
    width: 120px;
    height: 120px;
}

.imganim:active {
    width: 120px;
    height: 120px;
}

.box {
    border: 3px solid black;
    background-color: white;
    color: white;
    border-radius: 15%;
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('backgroundmenu.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    font-size: 50px;
}

.boxcont {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}